.sidebar-toggle:before {
  background-image: -webkit-linear-gradient(to bottom, #0562DC, #0562DC 20%, #fff 20%, #fff 40%, #0562DC 40%, #0562DC 60%, #fff 60%, #fff 80%, #0562DC 80%, #0562DC 100%);
  background-image:    -moz-linear-gradient(to bottom, #0562DC, #0562DC 20%, #fff 20%, #fff 40%, #0562DC 40%, #0562DC 60%, #fff 60%, #fff 80%, #0562DC 80%, #0562DC 100%);
  background-image:     -ms-linear-gradient(to bottom, #0562DC, #0562DC 20%, #fff 20%, #fff 40%, #0562DC 40%, #0562DC 60%, #fff 60%, #fff 80%, #0562DC 80%, #0562DC 100%);
  background-image:         linear-gradient(to bottom, #0562DC, #0562DC 20%, #fff 20%, #fff 40%, #0562DC 40%, #0562DC 60%, #fff 60%, #fff 80%, #0562DC 80%, #0562DC 100%);
}

/*.sidebar-toggle:active:before,
#sidebar-checkbox:focus ~ .sidebar-toggle:before,
#sidebar-checkbox:checked ~ .sidebar-toggle:before {
  background-image: -webkit-linear-gradient(to bottom, #fff, #fff 20%, #0562DC 20%, #0562DC 40%, #fff 40%, #fff 60%, #0562DC 60%, #0562DC 80%, #fff 80%, #fff 100%);
  background-image:    -moz-linear-gradient(to bottom, #fff, #fff 20%, #0562DC 20%, #0562DC 40%, #fff 40%, #fff 60%, #0562DC 60%, #0562DC 80%, #fff 80%, #fff 100%);
  background-image:     -ms-linear-gradient(to bottom, #fff, #fff 20%, #0562DC 20%, #0562DC 40%, #fff 40%, #fff 60%, #0562DC 60%, #0562DC 80%, #fff 80%, #fff 100%);
  background-image:         linear-gradient(to bottom, #fff, #fff 20%, #0562DC 20%, #0562DC 40%, #fff 40%, #fff 60%, #0562DC 60%, #0562DC 80%, #fff 80%, #fff 100%);
}*/
