<footer>
    <p>&copy; {{ site.time | date: '%Y' }} - Emanuele Pasqualotto  |<a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank"><svg class="icon icon-by-sa icon-footer"><use xlink:href="#icon-by-sa"></use></svg></a> | <a aria-label="My Twitter" target="_blank" href="https://twitter.com/{{site.twitter_username}}"> @{{site.twitter_username}}</a> | <a aria-label="Use the RSS to get updated" target="_blank" href="{{ "/atom.xml" | prepend: site.baseurl }}"> rss</a></p>
</footer>
<!-- <script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script> -->
