size(width = 60, height = 60)
    width width px
    height height px

.share
  text-align center
  border-top 1px solid lightGray
  svg
    margin rem(25px)
    size(55,55)
  a
    text-decoration none
    &:hover svg
        fill maincolor
