/* Misc */
hr
  position: relative
  margin: 1.5rem 0
  border: 0
  border-top: 1px solid #eee
  border-bottom: 1px solid #fff

abbr
  font-size: 85%
  font-weight: bold
  color: #555
  text-transform: uppercase

abbr[title]
  cursor: help
  border-bottom: 1px dotted #e5e5e5
