/* Quotes */
blockquote
  padding: .5rem 1rem
  margin: .8rem 0
  color: #7a7a7a
  border-left: .25rem solid #e5e5e5
  p:last-child
    margin-bottom: 0

  @media (min-width: 30em)
    padding-right: 5rem
    padding-left: 1.25rem

/*
 * Messages
 *
 * Show alert messages to users. You may add it to single elements like a `<p>`,
 * or to a parent if there are multiple elements to show.
 */

.message
  margin-bottom: 1rem
  padding: 1rem
  color: #717171
  background-color: #f9f9f9
